{% extends "myapp/core_base2.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- content overflow -->
<div class="flex flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10 mb-48 pb-20">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-col space-y-2">
                    <p class="text-gray-700">Grafik Unggahan Gambar per Hari</p>
                </div>
                <div class="flex flex-row justify-between items-center mb-2">
                                    <div class="flex flex-row space-x-2 w-auto">
                    <!-- tombol export Segmentation -->
                    <button onclick="printDiv('divPrint')" class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2">
                        <i class="fas fa-print"></i>
                        <span>Cetak</span>
                    </button>
                    <!-- tombol selected Segmentation -->
                    <form class="flex flex-row justify-center items-center space-x-2 w-auto" action="" method="GET">
                        <!-- input pilihan select -->
                        <select name="search" class="flex flex-row justify-center items-center rounded-md px-4 py-2 text-gray-700 w-60">
                            <option value="all" {% if request.GET.search == 'all' %} selected {% endif %}>Semua</option>
                            {% for color in color_dict %}
                                <option value="{{ color }}" {% if request.GET.search == color %} selected {% endif %}>{{ color }}</option>
                            {% endfor %}
                        </select>
                        <!-- tombol selected Segmentation -->
                        <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                            <i class="fas fa-filter"></i>
                            <span class="ml-2">Filter</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-2" id="divPrint">
            <h1 class="text-3xl font-bold text-gray-700 hidden m-4" id="H1divPrint">Hasil Segmen Gambar</h1>
            <div class="container segmentationView" id="masukkanboy">
                <canvas id="myChart" height="100px"></canvas>
            </div>
            <!-- Hasil -->
            <div class="flex flex-col space-y-2">
                <h1 class="text-xl font-bold text-gray-700">Hasil Segmen Terbaik</h1>
                <p class="space-y-2 text-gray-700 space-x-2">
                    Dari gambar yang diunggah, terdapat 
                    {% if total_data < 1 %} <span class="text-red-500 font-bold">tidak ada</span> 
                    {% else %} <span class="text-red-500 font-bold"> {{ total_data|floatformat:0 }}</span>
                    {% endif %} 
                    gambar yang diunggah. Gambar-gambar tersebut memiliki berbagai warna: 
                    {% if request.GET.search == 'all' %} <span class="text-red-500 font-bold">berbagai macam</span> 
                    {% elif request.GET.search %} <span class="text-red-500 font-bold">{{ request.GET.search }}</span> 
                    {% else %} <span class="text-red-500 font-bold">berbagai macam</span> {% endif %}. 
                    Segmen gambar terbaik adalah dengan warna latar belakang <span class="text-red-500 font-bold">{{ best.color }}</span> menggunakan segmentasi 
                    <span class="text-red-500 font-bold">
                        {{ best.segmentation }}</span> dengan praproses gambar diubah ukurannya menjadi
                    <span class="text-red-500 font-bold">
                        {{ best.resize_percent }} %
                    </span> dan disesuaikan kecerahan gambar menjadi
                    <span class="text-red-500 font-bold">
                        {{ best.brightness_percent }} %
                    </span> serta penyesuaian kontras gambar menjadi
                    <span class="text-red-500 font-bold">
                        {{ best.contrast_percent }} %
                    </span> dan jarak antara gambar yang diambil dengan objek adalah
                    <span class="text-red-500 font-bold">
                        {{ best.distance }} cm
                    </span> menggunakan filter 
                    <span class="text-red-500 font-bold">
                            {% if best.gaussian_filter %}Gaussian Filter
                            {% elif best.median_filter %}Median Filter
                            {% elif best.mean_filter %}Mean Filter
                            {% endif %}
                    </span>.
                    Hasilnya adalah MSE sebesar
                    <span class="text-red-500 font-bold">
                        {{ best.mse }} dB
                    </span> dengan PSNR sebesar
                    <span class="text-red-500 font-bold">
                        {{ best.psnr }} dB
                    </span>.
                </p>
                <!-- gambar flex-1 -->
                <div class="flex flex-row justify-between items-center space-x-2">
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Gambar</p>
                        <img src="/{{ best.image_url }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Praproses Warna</p>
                        <img src="/{{ best.image_pre_color_url }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Praproses Gray</p>
                        <img src="/{{ best.image_pre_gray_url }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Ground Truth Gambar</p>
                        <img src="/{{ best.image_gt }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Gambar Tergambar</p>
                        <img src="/{{ best.image_seg }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                </div>
            </div>
            <!-- Hasil -->
            <div class="flex flex-col space-y-2">
                <h1 class="text-xl font-bold text-gray-700">Hasil Segmen Terburuk</h1>
                <p class="space-y-2 text-gray-700 space-x-2">
                    Dari gambar yang diunggah, terdapat 
                    {% if total_data < 1 %} <span class="text-red-500 font-bold">tidak ada</span> 
                    {% else %} <span class="text-red-500 font-bold"> {{ total_data|floatformat:0 }}</span>
                    {% endif %} 
                    gambar yang diunggah. Gambar-gambar tersebut memiliki berbagai warna: 
                    {% if request.GET.search == 'all' %} <span class="text-red-500 font-bold">berbagai macam</span> 
                    {% elif request.GET.search %} <span class="text-red-500 font-bold">{{ request.GET.search }}</span> 
                    {% else %} <span class="text-red-500 font-bold">berbagai macam</span> {% endif %}. 
                    Segmen gambar terburuk adalah dengan warna latar belakang <span class="text-red-500 font-bold">{{ worst.color }}</span> menggunakan segmentasi 
                    <span class="text-red-500 font-bold">
                        {{ worst.segmentation }}</span> dengan praproses gambar diubah ukurannya menjadi
                    <span class="text-red-500 font-bold">
                        {{ worst.resize_percent }} %
                    </span> dan disesuaikan kecerahan gambar menjadi
                    <span class="text-red-500 font-bold">
                        {{ worst.brightness_percent }} %
                    </span> serta penyesuaian kontras gambar menjadi
                    <span class="text-red-500 font-bold">
                        {{ worst.contrast_percent }} %
                    </span> dan jarak antara gambar yang diambil dengan objek adalah
                    <span class="text-red-500 font-bold">
                        {{ worst.distance }} cm
                    </span> menggunakan filter 
                    <span class="text-red-500 font-bold">
                            {% if worst.gaussian_filter %}Gaussian Filter
                            {% elif worst.median_filter %}Median Filter
                            {% elif worst.mean_filter %}Mean Filter
                            {% endif %}
                    </span>.
                    Hasilnya adalah MSE sebesar
                    <span class="text-red-500 font-bold">
                        {{ worst.mse }} dB 
                    </span> dengan PSNR sebesar
                    <span class="text-red-500 font-bold">
                        {{ worst.psnr }} dB
                    </span>.
                </p>
                <!-- gambar flex-1 -->
                <div class="flex flex-row justify-between items-center space-x-2">
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Gambar</p>
                        <img src="/{{ worst.image_url }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Praproses Warna</p>
                        <img src="/{{ worst.image_pre_color_url }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Praproses Gray</p>
                        <img src="/{{ worst.image_pre_gray_url }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Ground Truth Gambar</p>
                        <img src="/{{ worst.image_gt }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                    <div class="flex-1 flex-col space-y-2">
                        <p class="text-gray-700">Gambar Tergambar</p>
                        <img src="/{{ worst.image_seg }}" alt="image" class="w-40 h-40 object-cover rounded-md">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block chartjs%}
<script>
    const new_labels = {{ chartjs.new_labels|safe }};
    const data_mse_otsu = {{ chartjs.data_mse_otsu|safe }};
    const data_mse_canny = {{ chartjs.data_mse_canny|safe }};
    const data_psnr_otsu = {{ chartjs.data_psnr_otsu|safe }};
    const data_psnr_canny = {{ chartjs.data_psnr_canny|safe }};

    const data = {
        labels: new_labels,
        datasets: [
            {
                label: 'MSE Otsu',
                data: data_mse_otsu,
                borderColor: '#008080',
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            }, 
            {
                label: 'MSE Canny',
                data: data_mse_canny,
                borderColor: '#0000ff',
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            },
            {
                label: 'PSNR Otsu',
                data: data_psnr_otsu,
                borderColor: '#008000',
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            },
            {
                label: 'PSNR Canny',
                data: data_psnr_canny,
                borderColor: '#ff0000',
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            }
        ]
    };
  document.addEventListener('DOMContentLoaded', function() {
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Grafik MSE dan PSNR'
                },
                legend: {
                    position: 'bottom',
                },
                tooltip: {
                    mode: 'index',
                    intersect: false,
                },
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Jumlah Data'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Nilai'
                    }
                }
            }
        },
    });
  });
</script>
{% endblock chartjs %}
{% block scriptcustom %} 
<script>
    function printDiv(divId) {
        // display block all id H1divPrint
        document.getElementById("H1divPrint").style.display = "block";
        
        // Hide all elements with the class "segmentationView"
        var segmentationViews = document.getElementsByClassName("segmentationView");
        var originalDisplayStyles = {};

        for (var i = 0; i < segmentationViews.length; i++) {
            originalDisplayStyles[i] = segmentationViews[i].style.display;
            segmentationViews[i].style.display = "none";
        }

        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;
        
        document.body.innerHTML = printContents;
        window.print();

        // Restore original content after printing is done
        document.body.innerHTML = originalContents;
        
        // Show all elements with the class "segmentationView" again
        for (var i = 0; i < segmentationViews.length; i++) {
            segmentationViews[i].style.display = originalDisplayStyles[i];
        }
    }
    
    // Reload the page after printing is done
    window.addEventListener("afterprint", function() {
        location.reload();
    });
</script>
{% endblock scriptcustom %}