{% extends "myapp/core_base2.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="flex flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10 mb-48 pb-20">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
            <!-- list Image Upload -->
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-row space-x-2">
                    <div class="flex flex-col space-y-1">
                        <h1 class="text-lg font-bold text-gray-700">Image Upload</h1>
                        <p class="text-sm text-gray-500">Here is a list of images that have been uploaded. You can add, edit, or delete them.</p>
                    </div>
                </div>
                <!-- dropdown filter -->
                <div class="flex flex-row space-x-2">
                    <form class="flex flex-row justify-center items-center" method="GET">
                        <!-- input -->
                        <input type="text" class="block w-full text-sm text-slate-500 rounded-md file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100 " placeholder="Search..." name="search" value="{{ request.GET.search }}">
                        <!-- button search image -->
                        <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 ml-2" type="submit">
                            <i class="fas fa-search"></i>
                            <span class="ml-2">Search</span>
                        </button>
                    </form>
                    <a class="flex flex-row justify-center items-center bg-blue-200 hover:bg-blue-300 rounded-md px-4 py-2 text-gray-700" href="{% url 'myapp:image_upload' %}">
                        <i class="fas fa-upload"></i>
                        <span class="ml-2">Upload</span>
                    </a>
                    <button type="button" class="inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mr-2" id="modalButton-1" aria-expanded="false" aria-haspopup="true" onclick="toggleModal(1)">
                        Filter
                        <!-- icon filter-->
                        <i class="fas fa-filter ml-2 mt-1"></i>
                    </button>
                </div>
            </div>
            <!-- account menu dropdown absolute hidden -->
            <div id="modal-1" class="absolute right-12 mt-2 w-auto h-auto min-w-[300px] rounded-md shadow-md bg-white ring-1 ring-black ring-opacity-5 py-4 z-10 px-4 hidden">
                <!-- account profile -->
                <div class="flex flex-col items-center justify-center">
                    <ul class="space-y-2 w-full mt-4">
                        <!-- filter by user -->
                        {% for uploader in uploaders %}
                        <a class="flex flex-row justify-between items-center space-x-2 hover:bg-fuchsia-200 rounded-md p-2 cursor-pointer" href="{% url 'myapp:image_uploader' uploader.name %}">
                            <div class="flex flex-row justify-center items-center space-x-2">
                                <i class="fas fa-user"></i>
                                <!-- change capitalize first letter -->
                                <span class="text-sm font-semibold">{{ uploader.name|capfirst }}</span>
                            </div>
                            <span class="text-sm font-semibold text-gray-500">({{ uploader.count }})</span>
                        </a>
                        {% endfor %} 
                     </ul>
                </div>
            </div>
        </div>
            <!-- list Images Uploaded -->
            {% if images %}
            <div class="flex flex-row flex-wrap justify-center items-center space-x-2 mt-4">
                <table class="table-auto w-full">
                    <thead>
                        <tr>
                            <th class="px-2 py-1 text-xs border">
                                <i class="fas fa-check"></i>
                                <span class="ml-2">No</span>
                            </th>
                            <th class="px-2 py-1 text-xs border">
                                <i class="fas fa-image"></i>
                                <span class="ml-2">Image</span>
                            </th>
                            <th class="px-2 py-1 text-xs border">
                                <i class="fas fa-user"></i>
                                <span class="ml-2">Uploader</span>
                            </th>
                            <th class="px-2 py-1 text-xs border">
                                <i class="fas fa-info-circle"></i>
                                <span class="ml-2">Information</span>
                            </th>
                            <th class="px-2 py-1 text-xs border">
                                <i class="fas fa-calendar-alt"></i>
                                <span class="ml-2">Date</span>
                            </th>
                            <th class="px-2 py-1 text-xs border">
                                <i class="fas fa-cog"></i>
                                <span class="ml-2">Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in images %}
                        <tr>
                            <td class="border px-2 py-1 text-xs">{{ forloop.counter }}</td>
                            <td class="border px-2 py-1 text-xs flex flex-row justify-center items-center space-x-2">
                                <img src="{{ image.image.url }}" class="w-9 h-9 object-cover object-center rounded-md">
                                <a href="{{ image.image.url }}" class="text-xs text-blue-500 hover:text-blue-600">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </td>
                            <td class="border px-2 py-1 text-xs">{{ image.uploader|capfirst }}</td>
                            <td class="border px-2 py-1 text-xs space-x-2">
                                <span class="px-2 py-1 rounded-md bg-blue-200 text-blue-700 text-xs">
                                     {{ image.width|intcomma }} x {{ image.height|intcomma }} px
                                </span>
                                <span class="px-2 py-1 rounded-md bg-orange-200 text-orange-700 text-xs">
                                     {{ image.size|filesizeformat }}
                                </span>
                                <span class="px-2 py-1 rounded-md bg-green-200 text-green-700 text-xs">
                                     {{ image.channel }} Ch
                                </span>
                                <span class="px-2 py-1 rounded-md bg-yellow-200 text-yellow-700 text-xs">
                                    {{ image.dpi }} dpi
                                </span>
                                <span class="px-2 py-1 rounded-md bg-purple-200 text-purple-700 text-xs">
                                    {{ image.color|capfirst }}
                                </span>
                            </td>
                            <td class="border px-2 py-1 text-xs">{{ image.created_at|naturaltime }}</td>
                            <td class="border px-2 text-xs">
                                <div class="flex flex-row space-x-2">
                                    <a class="flex flex-row justify-center items-center bg-blue-500 hover:bg-blue-600 rounded-md px-2 py-1 text-white" href="{% url 'myapp:image_update' image.id %}">
                                        <i class="fas fa-edit"></i>
                                        <span class="ml-2">Edit</span>
                                    </a>
                                    <a class="flex flex-row justify-center items-center bg-red-500 hover:bg-red-600 rounded-md px-2 py-1 text-white" href="{% url 'myapp:image_delete' image.id %}">
                                        <i class="fas fa-trash"></i>
                                        <span class="ml-2">Delete</span>
                                    </a>
                                    <a class="flex flex-row justify-center items-center bg-yellow-500 hover:bg-yellow-600 rounded-md px-2 py-1 text-white" href="{% url 'myapp:image_detail' image.id %}">
                                        <i class="fas fa-eye"></i>
                                        <span class="ml-2">Detail</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="flex flex-row justify-center items-center space-x-2">
                <div class="flex flex-col justify-center items-center space-y-2">
                    <i class="fas fa-images text-4xl text-gray-500"></i>
                    <span class="text-sm text-gray-500">No Images Uploaded</span>
                </div>
            </div>
            {% endif %}
            <!-- pagination with first, prev, next, last and number position end -->
            {% if is_paginated %}
            <div class="flex flex-row justify-between items-center space-x-2 mt-4">
                <div class="flex flex-row space-x-2">
                    <span class="text-xs text-gray-500">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </div>
                <div class="flex flex-row space-x-2">
                    {% if page_obj.has_previous %}
                    <a class="text-xs flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="?page=1&search={{ request.GET.search }}">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a class="text-xs flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}">
                        <i class="fas fa-angle-left"></i>
                    </a>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                    <a class="text-xs flex flex-row justify-center items-center bg-blue-200 hover:bg-blue-300 rounded-md px-4 py-2 text-gray-700" href="?page={{ page }}&search={{ request.GET.search }}">{{ page }}</a>
                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                    <a class="text-xs flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="?page={{ page }}&search={{ request.GET.search }}">{{ page }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <a class="text-xs flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <a class="text-xs flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700" href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                    {% endif %}

                </div>
                <div class="flex flex-row space-x-2">
                    <span class="text-xs text-gray-500">Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries.</span>
                </div>
            </div>
            {% endif %}
            <!-- pagination with first, prev, next, last and number position end -->
        </div>
</div>
{% endblock content %}