{% extends "myapp/core_base2.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="flex flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10 mb-48 pb-20">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
            <!-- Daftar Unggahan Gambar -->
            <div class="flex-1 flex-row justify-between items-center">
                <div class="flex flex-col space-y-1">
                    <div class="flex flex-col space-y-1">
                        <h1 class="text-lg font-bold text-gray-700">Ringkasan Gambar</h1>
                        <p class="text-sm text-gray-500">Selamat datang di ringkasan lengkap unggahan gambar, di mana Anda dapat menemukan ringkasan gabungan dari semua gambar menarik yang diunggah oleh komunitas pengguna kami yang beragam.</p>
                    </div>
                    <!-- Kartu ringkasan informasi -->
                    <div class="flex flex-row justify-center items-start space-x-2">
                        <div class="flex-1 flex-col">
                            <div class="flex-1 flex-col space-y-1 shadow-md rounded-md p-4 border border-gray-200 border-opacity-50">
                                <h1 class="text-lg font-bold text-gray-700">Total Gambar</h1>
                                <p class="text-sm text-gray-500">Total gambar : {{ total_image|intcomma }} gambar</p>
                                <p class="text-sm text-gray-500">Dari total gambar, {{ total_image|intcomma }} gambar diproses dengan langkah <span class="font-bold">54</span> dan diterima {{ total_image_preprocessing|intcomma }} gambar</p>
                                <p class="text-sm text-gray-500">Dari total gambar yang diproses, {{ total_image_preprocessing|intcomma }} gambar diproses dengan jenis segmentasi <span class="font-bold">{{ total_segmentation_type|intcomma }}</span> dan diterima {{ total_segmented_image|intcomma }} gambar</p>
                                <!-- Daftar tombol -->
                                <div class="flex flex-row justify-end items-center space-x-2">
                                    <a class="flex flex-row justify-center items-center space-x-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md shadow-md" href="{% url 'myapp:image_list' %}">
                                        <i class="fas fa-image"></i>
                                        <span>Lihat Gambar</span>
                                    </a>
                                    <a class="flex flex-row justify-center items-center space-x-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md shadow-md" href="{% url 'myapp:segmentation' %}">
                                        <i class="fas fa-palette"></i>
                                        <span>Lihat Gambar yang Disegmentasi</span>
                                    </a>
                                </div>
                            </div>
                            <div class="flex-1 flex-col space-y-2 border border-gray-200 p-4 rounded-md shadow-md">
                                <div class="flex flex-row justify-between items-start space-x-2">
                                    <div class="flex-1 flex-col space-y-1">
                                        <h1 class="text-xl font-bold text-gray-700">Distribusi Warna dari Gambar yang Diunggah oleh Pengguna</h1>
                                        <p class="text-sm text-gray-500">Lihat grafik gambar dengan library <span class="font-bold">Chart.js</span></p>
                                    </div>
                                    <a class="flex flex-row justify-start items-center space-x-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md shadow-md" href="{% url 'myapp:image_graph_color' %}">
                                        <i class="fas fa-chart-bar"></i>
                                        <span>Lihat Grafik</span>
                                    </a>
                                </div>
                                <div class="flex flex-col flex-wrap justify-start items-start" id="chartContainer">
                                    <canvas id="chartku3" class="w-full" height="230"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block chartjs %} 
<script>

    // Chart 3
    var labels_color = {{ chartjs.labels_color|safe }}
    var data_color = {{ chartjs.data_color|safe }}
    var num_labels_color = {{ chartjs.num_labels_color|safe }}
    var backgroundColor_color = []
    for (let i = 0; i < num_labels_color; i++) {
        backgroundColor_color.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
    }

document.addEventListener('DOMContentLoaded', function() {
    const ctx3 = document.getElementById('chartku3').getContext('2d');

    const data3 = {
        labels: labels_color,
        datasets: [
                {
                    label: 'Color Distribution of User-Uploaded Images',
                    data: data_color,
                    backgroundColor: backgroundColor_color,
                    hoverOffset: 4
                }
            ]
        };

    new Chart(ctx3, {
        type: 'bar',
        data: data3,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Color Distribution of User-Uploaded Images'
                }
            }
        },
    });
});
</script>
{% endblock chartjs %}