{% extends "myapp/core_base2.html" %}
{% load static %}

{% block content %}
<!-- content overflow -->
<div class="flex flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10 mb-48 pb-20">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
            <!-- Chart JS For Segmentation Summary -->
            <div class="flex flex-row space-x-2">
                <div class="flex w-96 flex-col space-y-2">
                    <div class="flex-1 flex-col space-y-2 border border-gray-200 p-2 rounded-md shadow-md">
                        <h1 class="text-xl font-bold text-gray-700">Image Uploads Segmented</h1>
                        <div class="flex flex-col flex-wrap justify-start items-start" id="chartContainer">
                                <canvas id="chartku" class="w-full" height="230"></canvas>
                        </div>
                        <p class="text-sm text-gray-500">Segmented image uploads are the number of uploads by users, and the number of images from users that have not been segmented<span class="bg-red-500 text-white px-2 py-1 rounded-md ml-2">{{ chartjs.num_images_not_segmented_user }} images</span></p>
                    </div>
                </div>
                <div class="flex-1 flex-col space-y-2">
                    <div class="flex-1 flex-col space-y-2 border border-gray-200 p-2 rounded-md shadow-md">
                        <h1 class="text-xl font-bold text-gray-700">Number of Users and Segmented Images vs. Not yet segmented</h1>
                        <div class="flex flex-col flex-wrap justify-start items-start" id="chartContainer2">
                                <canvas id="chartku2" class="w-full" height="230"></canvas>
                        </div>
                    </div>
                    <p class="text-sm text-gray-500">Image uploads are the number of uploads by the user</p>
                    <div class="flex-1 flex-col space-y-2 border border-gray-200 p-2 rounded-md shadow-md">
                        <h1 class="text-xl font-bold text-gray-700">Color Distribution of User-Uploaded Images</h1>
                        <div class="flex flex-col flex-wrap justify-start items-start" id="chartContainer">
                                <canvas id="chartku3" class="w-full" height="230"></canvas>
                        </div>
                    </div>
                    <div class="flex-1 flex-col space-y-2 border border-gray-200 p-2 rounded-md shadow-md">
                        <h1 class="text-xl font-bold text-gray-700">Distribution of segmentation results based on the segmentation type</h1>
                        <div class="flex flex-col flex-wrap justify-start items-start" id="chartContainer">
                                <canvas id="chartku4" class="w-full" height="230"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block chartjs %} 
<script>
    // Chart 1
    var labels_user = {{ chartjs.labels_user|safe }}
    var data_user = {{ chartjs.data_user|safe }}
    var num_labels_user = {{ chartjs.num_labels_user|safe }}
    var backgroundColor_user = []
    for (let i = 0; i < num_labels_user; i++) {
        backgroundColor_user.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
    }

    // Chart 2
    var labels_segmentation = {{ chartjs.labels_segmentation|safe }}
    var data_segmentation = {{ chartjs.data_segmentation|safe }}
    var num_labels_segmentation = {{ chartjs.num_labels_segmentation|safe }}
    var backgroundColor_segmentation = []
    for (let i = 0; i < num_labels_segmentation; i++) {
        backgroundColor_segmentation.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
    }

    // Chart 3
    var labels_color = {{ chartjs.labels_color|safe }}
    var data_color = {{ chartjs.data_color|safe }}
    var num_labels_color = {{ chartjs.num_labels_color|safe }}
    var backgroundColor_color = []
    for (let i = 0; i < num_labels_color; i++) {
        backgroundColor_color.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
    }

    // Chart 4
    var labels_segmentation_result = {{ chartjs.labels_segmentation_result|safe }}
    var data_segmentation_result = {{ chartjs.data_segmentation_result|safe }}
    var num_labels_segmentation_result = {{ chartjs.num_labels_segmentation_result|safe }}
    var backgroundColor_segmentation_result = []
    for (let i = 0; i < num_labels_segmentation_result; i++) {
        backgroundColor_segmentation_result.push('#'+(Math.random()*0xFFFFFF<<0).toString(16));
    }

document.addEventListener('DOMContentLoaded', function() {
    const ctx = document.getElementById('chartku').getContext('2d');
    const ctx2 = document.getElementById('chartku2').getContext('2d');
    const ctx3 = document.getElementById('chartku3').getContext('2d');
    const ctx4 = document.getElementById('chartku4').getContext('2d');

    const data = {
        labels: labels_user,
        datasets: [
                {
                    label: 'Image Uploads Segmented',
                    data: data_user,
                    backgroundColor: backgroundColor_user,
                    hoverOffset: 4
                }
            ]
        };
    
    const data2 = {
        labels: labels_segmentation,
        datasets: [
                {
                    label: 'Number of Users and Segmented Images vs. Not yet segmented',
                    data: data_segmentation,
                    backgroundColor: backgroundColor_segmentation,
                    hoverOffset: 4
                }
            ]
        };

    const data3 = {
        labels: labels_color,
        datasets: [
                {
                    label: 'Color Distribution of User-Uploaded Images',
                    data: data_color,
                    backgroundColor: backgroundColor_color,
                    hoverOffset: 4
                }
            ]
        };

    const data4 = {
        labels: labels_segmentation_result,
        datasets: [
                {
                    label: 'Distribution of segmentation results based on the segmentation type',
                    data: data_segmentation_result,
                    backgroundColor: backgroundColor_segmentation_result,
                    hoverOffset: 4
                }
            ]
        };

    new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart Image Segmented by User'
                }
            }
        },
    });

    new Chart(ctx2, {
        type: 'bar',
        data: data2,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Image Uploads Segmented vs. Not yet segmented'
                }
            }
        },
    });

    new Chart(ctx3, {
        type: 'bar',
        data: data3,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Color Distribution of User-Uploaded Images'
                }
            }
        },
    });

    new Chart(ctx4, {
        type: 'bar',
        data: data4,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Distribution of segmentation results based on the segmentation type'
                }
            }
        },
    });
});
</script>
{% endblock chartjs %}