{% extends "myapp/core_base2.html" %}
{% load static %}

{% block content %}
<!-- content overflow -->
<div class="flex flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
            <!-- list Image Upload -->
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-row space-x-2">
                    <div class="flex flex-col space-y-1">
                        <h1 class="text-lg font-bold text-gray-700">Image Details</h1>
                        <p class="text-sm text-gray-500">
                            <i class="fas fa-user"></i>	
                            <span class="ml-2">Uploaded by {{ segmentation.uploader|capfirst }}</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- list Images Uploaded -->
            <div class="flex flex-row flex-wrap justify-start items-start space-x-2">
                <div class="flex flex-col space-y-2 w-40 h-4w-40 p-2">
                    <h1 class="text-lg font-bold text-gray-700">Original Image</h1>
                    <div class="flex flex-row justify-center items-center">
                        <img src="{{ segmentation.image.url }}" class="w-40 h-4w-40 object-cover rounded-md shadow-md">
                    </div>
                    <div class="flex flex-row justify-center items-center">
                        <a href="{{ segmentation.image.url }}" class="text-sm text-blue-500 hover:text-blue-700">
                            <i class="fas fa-eye"></i>
                            <span class="ml-2">View Full Image</span>
                        </a>
                    </div>
                </div>
                <!-- segemntation prosess check -->
                <div class="flex flex-col space-y-2 p-2 w-96">
                    <h1 class="text-lg font-bold text-gray-700">Segmentation Process</h1>
                    <form method="POST" class="flex flex-col space-y-2">
                        {% csrf_token %}

                        {% for segmentation_type, data in segmentation_results_data.items %}
                            <div class="flex flex-row space-x-2">
                                {% if data.available %}
                                    <input type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 {% if data.available %}cursor-pointer  {% endif %}" id="{{ segmentation_type }}" name="segmentation_types" value="{{ segmentation_type }}" {% if data.available %}checked {% endif %}>
                                {% else %}
                                {% endif %}
                                {% if data.available %}
                                    <label class="text-gray-700 text-sm font-bold mb-2" for="{{ segmentation_type }}">
                                        {{ segmentation_type|capfirst }} Segment (Available) <i class="fas fa-check-circle text-green-500"></i>
                                    </label>
                                {% endif %}
                                {% if data.count %}
                                    <span class="text-gray-600 text-sm">({{ data.count }})</span>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- button -->
                        <div class="flex flex-row justify-start items-center space-x-2">
                            <button type="submit" class="flex flex-row justify-center items-center px-4 py-2 bg-red-500 hover:bg-red-700 text-white rounded-md shadow-md">
                                <i class="fas fa-trash"></i>
                                <span class="ml-2">Delete Segmentation</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock content %}