{% extends "myapp/core_base2.html" %}
{% load static %}

{% block content %}
<!-- content overflow -->
<div class="flex flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
        <!-- change password account -->
            <div class="flex flex-col space-y-2">
                <div class="flex flex-row justify-between items-center">
                    <div class="flex flex-row space-x-2">
                        <div class="flex flex-col space-y-1">
                            <h1 class="text-lg font-bold text-gray-700">Change Password for Your Account</h1>
                            <p class="text-sm text-gray-500">Welcome to the password change feature! Here, you can securely update your password to enhance the security of your account.</p>
                            <p class="font-bold text-gray-700">Change Password :</p>
                            <ul class="list-disc list-inside ml-4 space-y-2">
                                <li class="text-sm text-gray-500">
                                    In this section, you can enter your current password and set a new password for your account. It is important to choose a strong and unique password to safeguard your account from unauthorized access.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- content form for change password -->
                <form class="flex items-center w-full" method="POST">
                    {% csrf_token %}
                    <div class="flex flex-col space-y-2 w-full">
                        <div class="flex flex-col space-y-2">
                            <!-- Old password -->
                            <div class="flex flex-col space-y-1">
                                <label class="text-sm font-semibold text-gray-700">Old password <span class="text-red-500">*</span></label>
                                <input type="password" class="block w-full text-sm text-slate-500 rounded-md
                                file:mr-4 file:py-2 file:px-4
                                file:rounded-full file:border-0
                                file:text-sm file:font-semibold
                                file:bg-teal-50 file:text-teal-700
                                hover:file:bg-teal-100
                                " placeholder="Old password" name="old_password" id="old_password" value="{{ old_password }}">
                            </div>
                            <!-- New password -->
                            <div class="flex flex-col space-y-1">
                                <label class="text-sm font-semibold text-gray-700">New password <span class="text-red-500">*</span></label>
                                <input type="password" class="block w-full text-sm text-slate-500 rounded-md
                                file:mr-4 file:py-2 file:px-4
                                file:rounded-full file:border-0
                                file:text-sm file:font-semibold
                                file:bg-teal-50 file:text-teal-700
                                hover:file:bg-teal-100
                                " placeholder="New password" name="new_password" id="new_password">
                            </div>
                            <!-- Confirm password -->
                            <div class="flex flex-col space-y-1">
                                <label class="text-sm font-semibold text-gray-700">Confirm password <span class="text-red-500">*</span></label>
                                <input type="password" class="block w-full text-sm text-slate-500 rounded-md
                                file:mr-4 file:py-2 file:px-4
                                file:rounded-full file:border-0
                                file:text-sm file:font-semibold
                                file:bg-teal-50 file:text-teal-700
                                hover:file:bg-teal-100
                                " placeholder="Confirm password" name="confirm_password" id="confirm_password">
                            </div>
                            <!-- button action to save -->
                            <div class="flex flex-row-reverse">
                                <button class="px-4 py-2 text-sm font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600">
                                    <i class="fas fa-save"></i>
                                    <span>Change password</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>
{% endblock content %}