{% extends "myapp/core_base.html" %}
{% load static %}

{% block container %}
<div class="flex flex-col justify-center items-center w-full">
    <!-- blog post -->
    <div class="w-full max-w-xs md:max-w-sm lg:max-w-4xl rounded overflow-hidden my-2 h-[500px] bg-white shadow-md">
        <div class=" px-8 pt-6 pb-4">
            <h1 class="text-2xl font-bold mb-2">Blog</h1>
            <p class="text-gray-700 text-base">Get the latest news and updates from our blog</p>
        </div>
        <!-- blog list post scrollable -->
        
    </div>
</div>
{% endblock container %}