{% extends "myapp/core_base2.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- content overflow -->
<div class="flex-1 flex-col w-5/6 fixed right-0 top-14 h-[calc(100vh-3.5rem)] px-4 py-4 overflow-y-auto overflow-hidden" id="content">
    <div class="flex flex-col m-2 bg-white rounded-md p-4 shadow-md z-10 mb-48 pb-20">
        <div class="flex flex-row justify-between items-center mb-2">
            <div class="flex flex-col space-y-2">
                <h1 class="text-2xl font-bold text-gray-700">{{ title }}</h1>
            </div>
            <div class="flex flex-row space-x-2">
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 space-x-2" onclick="window.history.back();">
                    <i class="fas fa-arrow-left"></i>
                    <span>Back</span>
                </button>
                <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <hr class="border-gray-200 mb-2">
        <div class="flex flex-col space-y-2">
            <p class="text-sm text-gray-500">Selamat datang di Dashboard, pusat kontrol Anda untuk mendapatkan gambaran menyeluruh tentang data dalam REDUNION.</p>
            <div class="flex flex-row space-x-2">
                <div class="flex-1 flex-space-x-2">
                    <div class="flex-1 flex-col bg-white rounded-md p-4 shadow-md z-10">
                        <div class="flex flex-row justify-between items-center mb-2">
                            <div class="flex flex-col space-y-2">
                                <h1 class="text-l font-bold text-gray-700">Hasil Segmentasi 
                                    {% if request.GET.type == 'all' %}
                                        Semua Tipe
                                    {% else %}
                                        {{ request.GET.type|capfirst }}
                                    {% endif %}
                                    dengan Warna
                                    {% if request.GET.color == 'all' %}
                                        Semua Warna
                                    {% else %}
                                        {{ request.GET.color|capfirst }}
                                    {% endif %}
                                </h1>
                            </div>
                            <div class="flex flex-row space-x-2">
                                <!-- form filter -->
                                <form class="flex flex-row justify-center items-center space-x-2" method="GET">
                                    <select name="type" class="flex flex-row justify-center items-center rounded-md px-4 py-2 text-gray-700 w-60">
                                        <option value="all" {% if request.GET.type == 'all' %} selected {% endif %}>All</option>
                                        {% for segmentation_type in segmentation_type_dict %}
                                            <option value="{{ segmentation_type }}" {% if request.GET.type == segmentation_type %} selected {% endif %}>{{ segmentation_type }}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- input -->
                                    <select name="color" class="flex flex-row justify-center items-center rounded-md px-4 py-2 text-gray-700 w-60">
                                        <option value="all" {% if request.GET.color == 'all' %} selected {% endif %}>All</option>
                                        {% for color in color_dict %}
                                            <option value="{{ color }}" {% if request.GET.color == color %} selected {% endif %}>{{ color }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="flex flex-row justify-center items-center bg-gray-200 hover:bg-gray-300 rounded-md px-4 py-2 text-gray-700 ml-2" type="submit">
                                        <i class="fas fa-filter"></i>
                                        <span class="ml-2">Filter</span>
                                    </button>
                                </form> 
                            </div>
                        </div>
                        <div class="flex flex-col space-y-2">
                            <div class="flex flex-row justify-between items-center space-x-2">
                                <div class="flex-1 flex-col space-y-2 bg-blue-200 rounded-md p-4 shadow-md z-10">
                                    <h1 class="text-xl font-sm text-gray-700">Total Gambar Tersegmentasi</h1>
                                    <h1 class="text-2xl font-bold text-gray-700">{{ total_image_seg }} Gambar</h1>
                                </div>
                            </div>
                            <div class="flex flex-row justify-between items-center space-x-2">
                                <div class="flex-1 flex-col space-y-2 bg-yellow-200 rounded-md p-4 shadow-md z-10">
                                    <h1 class="text-xl font-sm text-gray-700">Rata-rata Hasil Pengujian</h1>
                                    <h1 class="text-l font-normal text-gray-700">Peak Signal to Noise Ratio (PSNR)</h1>
                                    <h1 class="text-3xl font-bold text-gray-700">{{ avg_psnr|floatformat:3|intcomma }} dB</h1>
                                    <!-- link ke hasil -->
                                    <a href="{% url 'myapp:image_table_color' %}?type={% if request.GET.type == 'all' %}all{% else %}{{ request.GET.type }}{% endif %}&color={% if request.GET.color == 'all' %}all{% else %}{{ request.GET.color }}{% endif %}" class="text-sm text-blue-500 hover:underline">
                                        Lihat Hasil
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="flex-1 flex-col space-y-2 bg-red-200 rounded-md p-4 shadow-md z-10">
                                    <h1 class="text-xl font-sm text-gray-700">Rata-rata Hasil Pengujian</h1>
                                    <h1 class="text-l font-normal text-gray-700">Mean Square Error (MSE)</h1>
                                    <h1 class="text-3xl font-bold text-gray-700">{{ avg_mse|floatformat:3|intcomma }} dB</h1>
                                    <!-- link ke hasil -->
                                    <a href="{% url 'myapp:image_table_color' %}?type={% if request.GET.type == 'all' %}all{% else %}{{ request.GET.type }}{% endif %}&color={% if request.GET.color == 'all' %}all{% else %}{{ request.GET.color }}{% endif %}" class="text-sm text-blue-500 hover:underline">
                                        Lihat Hasil
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- link ke hasil -->
                            <a href="{% url 'myapp:image_table_color' %}?type={% if request.GET.type == 'all' %}all{% else %}{{ request.GET.type }}{% endif %}&color={% if request.GET.color == 'all' %}all{% else %}{{ request.GET.color }}{% endif %}" class="text-sm text-blue-500 hover:underline">
                                Lihat Hasil
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block chartjs %} 

{% endblock chartjs %}